/* Colors:
 header background color: #d2232a
 vegan image display background: #8EC298
 non vegan image display background: #C2988E
*/

/*
Font:
font-family: 'Fredoka', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

header {
  background-color: #d2232a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: hsl(358, 71%, 28%) solid 2px;
}

#navHeader {
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.navButton {
  width: 20%;
  padding: 1rem 0.3rem;
  font-size: 1.5rem;
  border-radius: 60px;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  color: white;
  background: radial-gradient(circle, rgba(220,83,89,1) 0%, rgba(210,35,42,1) 100%);
  border-color: hsl(358, 59%, 63%);
  box-shadow: 3px 5px 5px hsl(358, 79%, 9%);
  border-style: solid;
  max-height: 65px;
  text-align: center;
}

#buttonBreakfast:hover {
  max-height: fit-content;
}

#buttonBreakfast:hover #buttonBreakfastContent {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#buttonLunch:hover {
  max-height: fit-content;
}

#buttonLunch:hover #buttonLunchContent {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#buttonDinner:hover {
  max-height: fit-content;
}

#buttonDinner:hover #buttonDinnerContent {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dropdownContent {
  display: none;
  flex-direction: column;
}

.dropdownContent a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dropdownContent .veganOptA:hover {
  color:#8EC298;
  text-shadow:black 1px 1px;
}

.dropdownContent .nonVeganOptA:hover {
  color: hsl(12, 53%, 57%);
  text-shadow:black 1px 1px;
}

/* Main */

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0.2rem 0;
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 1.2rem;
}

#introTxt {
  padding: 2rem 0;
}

#foodDisplayP {
  padding-bottom: 2rem;
}

#foodDisplayIconContainer {
  display: flex;
  justify-content: space-around;
}

.foodIcon {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: none;
}

#pancakes {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#schnitzel {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#goatCheeseSalad {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Vegan */

/* NonVegan */

/* Recipe Display */

.recipeDisplay {
  display: flex;
  flex-direction: column;
  border: #662601 solid 10px;
  border-radius: 1rem;
  margin-top: 5rem;
  background-color: #db904a;
  width: 100%;
}

.recipeHeader {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
}

.recipeHeader img {
  margin: 0.5rem 0 0 0.5rem;
  height: auto;
  width: 38rem;
  border: 3px solid #662601;
  border-radius: 1rem;
}

.recipeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 40%;
}

.recipeText h3 {
  font-size: 2.75rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

.recipeText > p {
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

.recipeText ul {
  list-style: none;
}

.recipeText li {
  text-align: start;
  font-size: 1.25rem;
  margin: 0.3rem 0;
}

.recipeInfo p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.recipeBody h4 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.recipeBody ol {
  margin: 0 0 0 50px;
}

.recipeBody li {
  text-align: left;
  margin: 0 5rem 3rem 2rem;
  font-size: 1.25rem;
}

/* Breakfast NoVeg */

.foodDisplayBreakfast {
  border: 1px solid whitesmoke;
  border-radius: 25px;
  background-color: #c2988e; /* alternative suggestion #2980b9 */

  h2 {
    margin: 2rem 0;
  }
}

.foodDisplayIconContainer {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  padding: 1em;
  align-items: center; */
  display: flex;
  justify-content: space-evenly;
}

.foodIcon {
  position: relative;
  overflow: hidden;
}

.foodIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.foodIcon:hover::before {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: 500;
  opacity: 0;
  transition: 1s;
  transition-duration: 0.5s ease-in;
  z-index: 2;
}

.foodIcon:hover .text-overlay {
  opacity: 1;
}

#beeren_icecream_minze {
  background-image: url(../images/breakfast/beeren_icecream_minze.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#chocolate_shell_oats {
  background-image: url(../images/breakfast/chocolate_shell_oats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#haferschleim {
  background-image: url(../images/breakfast/haferschleim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hummus_ohne_tahini {
  background-image: url(../images/breakfast/hummus_ohne_tahini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#knuspriges_buchweizen_granola {
  background-image: url(../images/breakfast/knuspriges_buchweizen_granola.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#overnight_oats_mit_skyr {
  background-image: url(../images/breakfast/overnight_oats_mit_skyr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Dinner No Veg */

.foodDisplayDinnerNoVeg {
  border: 1px solid whitesmoke;
  border-radius: 25px;
  background-color: #c2988e; /* alternative suggestion #2980b9 */
  margin-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
  h2 {
    margin: 2rem 0;
  }
}

#carpaccio_entenbrust {
  background-image: url(../images/dinner/carpaccio_entenbrust.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#chefsalat_steak {
  background-image: url(../images/dinner/chefsalat_steak.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#knusperhaehnchen_gurkensalat {
  background-image: url(../images/dinner/knusperhaehnchen_gurkensalat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#lachs_tomaten_pasta {
  background-image: url(../images/dinner/lachs_tomaten_pasta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#spaghetti_carbonara {
  background-image: url(../images/dinner/spaghetti_carbonara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#bratwurst_buletten_gemuese {
  background-image: url(../images/dinner/bratwurst_buletten_gemuese.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#duckRecipe {
  display: none;
}

/* Dinner Veg */

.foodDisplayDinnerVeg { /* suggestion to have 2 classes on veg on noveg so shorten code */
  border: 1px solid whitesmoke;
  border-radius: 25px;
  background-color: #8EC298; 
  margin-top: 3rem;
  h2 {
    margin: 2rem 0;
  }
}

#asia_bowl_kraeutersalat {
  background-image: url(../images/dinner/asia_bowl_kraeutersalat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#brokkoli_lauch_curry {
  background-image: url(../images/dinner/brokkoli_lauch_curry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#endiviensalat_tofu_dressing {
  background-image: url(../images/dinner/endiviensalat_tofu_dressing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#moehren_linsen_suppe {
  background-image: url(../images/dinner/moehren_linsen_suppe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#spinat_omelette_feta {
  background-image: url(../images/dinner/spinat_omelette_feta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#romanesco_pfanne_fregola {
  background-image: url(../images/dinner/romanesco_pfanne_fregola.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Footer */

.footer-container {
  margin: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  margin-bottom: 2rem;
  font-size: 36px;
}

.footer-link-container {
  display: flex;
  gap: 1rem;
}

.Footer-link {
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}

.social-icon {
  color: #d2232a;
}

.social-icon:hover {
  color: hsl(224, 89%, 60%);
}

.footer-copyWrite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  margin-top: 3rem;
  background-color: #d2232a;
  color: #fff;
  width: 100vw;
  height: 6em;
  border-radius: 0 0 10px 10px;
  letter-spacing: 2px;
}
