/* Colors:
 header background color: #d2232a
 vegan image display background: #8EC298
 non vegan image display background: #C2988E
*/

/*
Font:
font-family: 'Fredoka', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

header {
  background-color: #d2232a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

#navHeader {
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.navButton {
  width: 20%;
  padding: 1rem 0.3rem;
  font-size: 1.5rem;
  border-radius: 60px;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  color: white;
  background-color: #d2232a;
  border-color: white;
  box-shadow: 3px 5px 5px whitesmoke;
  border-style: solid;
  max-height: 65px;
  text-align: center;
}

#buttonBreakfast:hover {
  max-height: fit-content;
}

#buttonBreakfast:hover #buttonBreakfastContent {
  display: flex;
  padding-top: 1rem;
}

#buttonLunch:hover {
  max-height: fit-content;
}

#buttonLunch:hover #buttonLunchContent {
  display: flex;
  padding-top: 1rem;
}

#buttonDinner:hover {
  max-height: fit-content;
}

#buttonDinner:hover #buttonDinnerContent {
  display: flex;
  padding-top: 1rem;
}

.dropdownContent {
  display: none;
  flex-direction: column;
}

.dropdownContent a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dropdownContent a:hover {
  color: black;
}

/* Main */

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0.2rem 0;
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 1.2rem;
}

#introTxt {
  padding: 2rem 0;
}

#foodDisplayP {
  padding-bottom: 2rem;
}

#foodDisplayIconContainer {
  display: flex;
  justify-content: space-around;
}

.foodIcon {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: none;
}

#pancakes {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#schnitzel {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#goatCheeseSalad {
  background-image: url(../images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Vegan */

/* NonVegan */

/* Recipe Display */

.recipeDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: #d2232a solid 6px;
  border-radius: 1rem;
  margin-top: 5rem;
  background-color: #ead196;
  display: none;
}

.recipeHeader {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
}

.recipeHeader img {
  margin: 0.5rem 0 0 0.5rem;
  height: auto;
  width: 38rem;
  border: 3px solid white;
  border-radius: 1rem;
}

.recipeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 40%;
}

.recipeText h3 {
  font-size: 2.75rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

.recipeText > p {
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

.recipeText ul {
  list-style: none;
}

.recipeText li {
  text-align: start;
  font-size: 1.25rem;
  margin: 0.3rem 0;
}

.recipeInfo p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.recipeBody h4 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.recipeBody ol {
  margin: 0 0 0 50px;
}

.recipeBody li {
  text-align: left;
  margin: 0 5rem 3rem 2rem;
  font-size: 1.25rem;
}

/* Breakfast NoVeg */

.foodDisplayBreakfast {
  width: 100%;
  margin-top: 5rem;
  border: 6px solid #d2232a;
  border-radius: 25px;
  background-color: #c2988e; /* alternative suggestion #2980b9 */

  h2 {
    margin: 2rem 0 1rem 0;
    font-size: 3rem;
    text-decoration: underline;
  }
}

.foodDisplayIconContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
  padding: 2em;
  justify-content: space-around;
}

.foodIcon {
  position: relative;
  overflow: hidden;
}

.foodIcon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.foodIcon:hover::before {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: 500;
  opacity: 0;
  transition: 1s;
  transition-duration: 0.5s ease-in;
  z-index: 2;
}

.foodIcon:hover .text-overlay {
  opacity: 1;
}

#button1 {
  background-image: url(../images/breakfast/beeren_icecream_minze.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

#button2 {
  background-image: url(../images/breakfast/chocolate_shell_oats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

#button3 {
  background-image: url(../images/breakfast/haferschleim.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

#button4 {
  background-image: url(../images/breakfast/hummus_ohne_tahini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

#button5 {
  background-image: url(../images/breakfast/knuspriges_buchweizen_granola.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

#button6 {
  background-image: url(../images/breakfast/overnight_oats_mit_skyr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: white solid 3px;
}

/* Footer */

.footer-container {
  margin-top: 5rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  margin-bottom: 2rem;
  font-size: 36px;
}

.footer-link-container {
  display: flex;
  gap: 1rem;
}

.Footer-link {
  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}

.social-icon {
  color: #d2232a;
}

.social-icon:hover {
  color: hsl(224, 89%, 60%);
}

.footer-copyWrite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  margin-top: 3rem;
  background-color: #d2232a;
  color: #fff;
  width: 100%;
  height: 6em;
  border-radius: 0 0 10px 10px;
  letter-spacing: 2px;
}
