/* Colors:
 header background color: #d2232a
 vegan image display background: #8EC298
 non vegan image display background: #C2988E
*/



@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

/* Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

header {
  background-color: #d2232a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

#navHeader {
  display: flex;
  height: 100%;
  width: 60%;
  justify-content: space-between;
}

.navButton {
  width: 20%;
  padding: 1rem 0.3rem;
  font-size: 1.5rem;
  border-radius: 60px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #d2232a;
  border-color: white;
  box-shadow: 3px 5px 5px whitesmoke;
  border-style: solid;
}

/* Main */

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0.2rem 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
}

p {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
}

#introTxt {
  padding: 2rem 0;
}

#foodDisplayP {
  padding-bottom: 2rem;
}

#foodDisplayIconContainer {
  display: flex;
  justify-content: space-around;
}

.foodIcon {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: none;
}

#pancakes {
  background-image: url(/Cookbook/images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#schnitzel {
  background-image: url(/Cookbook/images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#goatCheeseSalad {
  background-image: url(/Cookbook/images/PlaceholderIcon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Vegan */

/* NonVegan */

/* Footer */
.footer{
}

.footer-container{
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.footer-social{
  margin-bottom: 2rem;
  font-size: 36px;
}


.footer-link-container{
  display: flex;
  gap: 1rem;
}


.Footer-link{
  a{
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}


.social-icon{
  color: #d2232a
}

.social-icon:hover{
  color: hsl(224, 89%, 60%);
}

.footer-copyWrite{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  margin-top: 3rem;
  background-color: #d2232a;
  color: #fff;
  width: 100vw;
  height: 6em;
  border-radius: 0 0 10px 10px;
  letter-spacing: 2px;
}